__pycache__/
*.pyc
*.db
*.log
*.csv
*.txt
*.zip
*.gz
*.tar
*.tgz
*.bz2
*.xz
*.7z
*.rar
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
*.ipynb_checkpoints/
*.vscode/
*.idea/
*.gitattributes
*.gitmodules
*.github/
.env
data/